<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Experience</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='experience.css') }}">
    <!-- Add any necessary stylesheets or scripts here -->
</head>
<body>
    <!-- Work Experience Section -->
    <div id="work-experience" class="section">
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <h2>Experience</h2>
        </nav>
        <ul>
            <li>
                <strong>2017 - 2020:</strong> K'nyaw Grocery
                <ul>
                    <li>Stocker, Product Management, Cleaning, Cashier</li>
                    <li>Managed orders using Excel</li>
                    <li>Assisted in product delivery and worked with family-owned business</li>
                </ul>
            </li>
            <li>
                <strong>2019:</strong> Coffee House
                <ul>
                    <li>Bartender and Customer Service</li>
                </ul>
            </li>
            <li>
                <strong>2021:</strong> Walmart
                <ul>
                    <li>Associate in Order Dispensing</li>
                    <li>Engaged with diverse communities and utilized technology for customer satisfaction</li>
                </ul>
            </li>
            <li>
                <strong>2022:</strong> Emerson (Internship)
                <ul>
                    <li>Software Engineer Intern</li>
                    <li>Managed project requests and communicated progress effectively</li>
                    <li>Utilized Kanban methodology for project management</li>
                </ul>
            </li>
            <li>
                <strong>2023:</strong> Out of School Education
                <ul>
                    <li>Monitor for students from kindergarten to 6th grade</li>
                    <li>Provided assistance and security</li>
                    <li>Wrote reports on student behavior as needed</li>
                </ul>
            </li>
            <li>
                <strong>2020 - Present:</strong> KSUA (Karen Student United Association)
                <ul>
                    <li>Members and Secretary</li>
                    <li>Recorded meetings and scheduled events</li>
                    <li>Organized cultural events and fundraisers</li>
                </ul>
            </li>
            <li>
                <strong>2017 - Present:</strong> Church Community
                <ul>
                    <li>Assisted with technology, cleaning, transportation, and fundraising events</li>
                </ul>
            </li>
        </ul>
    </div>


</body>
</html>
